@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;700&family=Lexend+Deca&display=swap");

* {
  box-sizing: border-box;
}

body {
  background: hsl(233, 47%, 7%);
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}
